// If we make changes here and then deploy our application, whatever is inside this file will override the backend firestore rules
// "document=** "matches any subcollection in the collection, whereas "messageID" does not and it captures the ID of the documents

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{messageId} {
      allow read, write: if request.auth != null;
    }
  }
}